@import "theme";
@import "utils/_all";
@import "components/_all";

// basic root properties, strip unwanted margins, set base font
*,
*::before,
*::after {
  box-sizing: border-box;
}

// new chrome feature where focusable elements get a thick
// black outline. this removes it
*, input, select, textarea, option, button {
  outline: none;
}

// *:focus {
//   outline: 1px solid green;
// }

:root {
  font-size: 16px;
}

html {
  height: 100%;
}

body, #__nuxt, #__layout, .app {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: sans-serif;
  line-height: 1;
  background-color: var(--bg-main);

  &.no-scroll {
    overflow: hidden;
  }
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.container {
  min-height: calc(100% - 56px - 50px);
}

.page-container {
  padding: 0 1em;
}
p {
  padding-bottom: 1em;
  text-align: justify;
}

footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 2px;
  margin-top: auto;
  height: 50px;

  .copyright {
    font-size: .75rem;
  }
}

// media queries for screen sizes
@media screen and (max-width:768px) {
  .desktop {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none !important;
  }
}

// font-awesome icon element styling
.fa-icon {
  display: grid;
  place-items: center;
  position: relative;

  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.btn.fa-icon {
  background-color: transparent;
  color: var(--secondary, black);
  font-size: 1.25rem;
  padding: 0.5em;
}

// menu burger styling -> font awesome bars icon
.burger {
  margin-left: auto;
}

.burger::before {
  content: '\f0c9';
}
.burger:hover::after,
.burger:focus::after {
  content: '';
  background-color: var(--secondary, black);
  opacity: 0.1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 100vw;
  z-index: -1;
}
